:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-size: normal;
  font-size: 15px;
}

body {
  background-color: var(--color-slate-300);
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.content {
  background-color: var(--color-white);
  padding: 1rem;
  padding-bottom: 0.5rem;
  max-width: 320px;
  max-height: 499px;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

  h2 {
    font-size: 22px;
    text-align: center;
    line-height: 120%;
    font-weight: 700;
    color: var(--color-slate-900);
    margin: 1.25rem 0 1.25rem 0;
  }

  p {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--color-slate-500);
    padding: 0.5rem 1.5rem;
  }

  img {
    width: 100%;
    height: 288px;
    border-radius: 10px;
  }
}
